/* .poster-section {
  background: url('poster.png') center/cover no-repeat;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  text-shadow: 2px 2px 4px #b1a8f6;
}
.poster-content {
  text-align: center;
}

.btn:hover {
  background: rgba(0, 0, 0, 0.7);
} */