body {
  background-color: #f8f9fa;
}

h1 {
  color: navy;
  font-weight: bold;
}

.navbar {
  padding: 15px;
}

.card {
  border-radius: 20px;
}

#quote {
  font-size: 20px;
}

#response {
  font-size: 20px;
  color: magenta;
  font-style: italic;
}
a {
  font-weight: bold;
}

p {
  font-size: 20px;
}

li {
  font-weight: bold;
  font-size: 20px;
}

h2 {
  font-weight: bold;
}